.content {
    flex: 1 0 75%;
    display: flex;
    flex-flow: row wrap;
    height: auto;
}

.top-left-section {
    flex: 0 0 70%;
    height: auto;
}
.content-header {
    width: fit-content;
    margin: 15% 0% 5% 12%;
    font-size: 16%;
    height: auto;
}
.content-header h1 {
    font-size: 5rem;
}
.top-right-section {
    flex: 1 0 30%;
}

.top-right-section p {
    line-height: 1.7vw;
    word-spacing: 1px;
    font-size: 1.2vw;
    margin: 25% 20% 0% 0%;
    color:#7b8ea5
}
.bottomline {
    border: 2px solid red;
    width: 30%;
    margin-top: 7%;
}
.bottom-section {
    flex: 1 0 100%;
    height: auto;
    display: flex;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    margin: 0% 6%;
}

.flex-container > div {
    width: 220px;
    height: 280px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 7%;
}
.image p {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 5%;
}
@media (max-width: 1650px) {
    .content-header {
        margin: 15% 0% 0% 10%;
    }
    .flex-container {
        margin: 0%;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 6%;
    }
    .flex-container > div {
        width: 200px;
        height: 260px;
    }

    .top-right-section p {
        line-height: 2vw;
        word-spacing: 1px;
        font-size: 1.3rem;
        margin: 15% 20% 0% 0%;
    }
}
@media (max-width: 1450px) {
    .content-header {
        margin: 20% 0% 0% 10%;
    }
    .flex-container > div {
        width: 200px;
    }
    .top-right-section p {
        font-size: 1.4rem;
        margin-top: 25%;
    }
    .flex5 {
        display: none;
    }
}
@media (max-width: 1200px) {
    .content-header {
        margin: 35% 0% 0% 10%;
    }
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .flex-container > div {
        width: 180px;
        height: 240px;
    }
    .top-right-section p {
        font-size: 1.6rem;
        margin-top: 45%;
    }
}
@media(max-width:1070px){
    .flex-container > div{
        width:150px
    }
}
@media (max-width: 768px) {
    .content {
        display: flex;
        flex-flow: column;
    }
    .content-header {
        margin: 5% 0% 10% 10%;
    }
    .content-header h1 {
        font-size: 4rem;
    }
    .top-left-section {
        order: 1;
    }
    .top-right-section {
        order: 3;
    }
    .bottom-section {
        order: 2;
        display: flex;
    }
    .flex-container {
        width: 100%;
        display: flex;
        justify-content: start;
    }
    .flex-container > div {
        display: flex;
        width: 150px;
        height: 190px;
        flex-direction: column;
        align-items: center;
    }
    .flex5 {
        display: none !important;
    }
    .top-right-section p {
        margin-top: 5%;
        font-size: 2.3rem;
        line-height: 3rem;
        padding-left: 10%;
    }
    .bottomline {
        margin-top: 4%;
        margin-left: 10%;
    }
    .image img {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin-top: 10%;
    }
    .image p {
        font-weight: 600;
        font-size: 2.2rem;
        margin-top: 10%;
    }
}

@media (max-width: 400px) {
    .content-header h1 {
        font-size: 4rem;
    }
    .content-header {
        margin: 10% 0% 10% 10%;
    }
    .top-right-section p {
        margin-top: 5%;
        font-size: 2.4rem;
        line-height: 3rem;
        padding-left: 10%;
    }
    .flex-container > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .image img {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin-top: 10%;
    }
    .image p {
        font-weight: 600;
        font-size: 2rem;
        margin-top: 10%;
    }
}

@media (max-width: 360px) {
    .flex-container > div {
        width: 140px;
        height: 180px;
    }
}
