.wrapper {
    height: auto;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    /* border:5px solid brown */

}

.sidemenu {
    height: auto;
    width: 20%;
    /* border:2px solid pink */
}
.fas {
    display: none;
}
.header h1 {
    margin: 15% 15% 10% 24%;
    font-size: 3vw;
}

ul li {
    padding: 9% 25%;
}
.cartbutton {
    margin-top: 5%;
}
button {
    height: 3vw;
    width: 8vw;
    font-size: 1.3vw;
    border-radius: 30px;
    margin-left: 20%;
    border: transparent;
    background-color: red;
    color: white;
    margin-bottom: 18%;
}
@media (max-width: 768px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .sidemenu {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7% 0%;
    }
    ul li {
        display: none;
    }
    .cartbutton {
        display: none;
    }
    .fas {
        font-size: 10vw;
        color: red;
        width: 20%;
        text-align: center;
        display: block;
    }

    span {
        display: none;
    }
    .header h1 {
        width: 60%;
        font-size: 8vw;
    }
}
