/* #456
#678 */
.wrapper {
    height: auto;
}

.main {
    height: auto;
    display: flex;
}
.header {
    flex: 0 0 20%;
    height: 100vh;
}
ul .list1{
    text-decoration-line: line-through;
    text-decoration-color: red;
}
.fas {
    display: none;
}

.main-heading h1 {
    font-size: 3rem;
    margin: 15% 10% 10% 20%;
}
ul li {
    list-style: none;
    padding: 8% 0%;
    font-size: 1.3rem;
    padding-left: 20%;
    color:#7b8ea5
}
.cartbutton {
    margin-top: 5%;
    padding-left: 18%;
}
button {
    height: 60px;
    width: 140px;
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    border-style: none;
}
@media (max-width:1450px){
    .header h1{
        font-size: 4rem;
    }
    ul li{
        font-size: 1.5rem;
    }
}
@media(max-width:1200px){
    .header h1{
        font-size: 4.5rem;
    }
    ul li{
        font-size: 1.9rem;
        padding: 10% 0%;
        padding-left: 20%;
    }
    .main-heading h1{
        margin: 25% 10% 20% 20%;
    }
    .cartbutton{
        margin-top: 15%;
    }
    button{
        font-size: 1.8rem;
        height:50px;
        width:130px;
    }
    span{
        /* color:red; */
        font-size: 4.5rem;
    }
}
@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        height: auto;
        justify-content: space-evenly;
        padding: 5% 0%;
    }
    .header h1 {
        width: 100%;
        font-size: 5rem;
        margin: auto;
    }
    ul li {
        display: none;
    }
    .fas {
        display: block;
        font-size: 4rem;
        margin: auto;
        color: red;
    }
    .cartbutton {
        display: none;
    }
    span {
        display: none;
    }
}
